body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
h1{
    text-align: center;
}
#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
